body{
    background-color: rgb(25, 25, 25);
    color: white;
    font-family:Arial, Helvetica, sans-serif ;
}
.Game-heading{
font-size: 30px;
font-weight: bold;
}
.rock-image{
width: 7vh;
}
.paper-image{
height: 6vh;
}
.scissor-image{
height: 6vh;
}
.moves-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
}

.move-button {
    background-color: transparent;
    border: 3px solid white;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: 10px;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.move-button img {
    width: 70%;
    height: 70%;
    object-fit: contain;
}

.move-button:hover{
    background-color: azure;
    font-size: larger;
}
.result{
font-size: 4vh;
font-weight: bold;
margin-top: 50px;
}
.score{
margin-top: 40px;
}
.Reset-button ,.auto-play-button{
background-color: white;
border:none;
font-size: 15px;
cursor: pointer;
padding: 10px 15px;
}
.auto-play-button:hover, .Reset-button:hover{
    background-color: rgb(203, 42, 42);
    font-size: large;
}
